Repository PowerNukkit/PowerNukkit, pull requests merged in 2021-05, with the labels that each got.

#1050 [v1.4] Pull changes from Nukkit and support for 1.16.220
  .gitmodules
  src/main/java/cn/nukkit/Player.java
  src/main/java/cn/nukkit/block/BlockItemFrame.java
  src/main/java/cn/nukkit/block/BlockSapling.java
  src/main/java/cn/nukkit/blockentity/BlockEntityItemFrame.java
  src/main/java/cn/nukkit/command/defaults/GamemodeCommand.java
  src/main/java/cn/nukkit/entity/Entity.java
  src/main/java/cn/nukkit/entity/item/EntityEndCrystal.java
  src/main/java/cn/nukkit/entity/item/EntityFallingBlock.java
  src/main/java/cn/nukkit/entity/item/EntityItem.java
  src/main/java/cn/nukkit/entity/item/EntityXPOrb.java
  src/main/java/cn/nukkit/item/Item.java
  src/main/java/cn/nukkit/item/ItemBlock.java
  src/main/java/cn/nukkit/item/ItemBucket.java
  src/main/java/cn/nukkit/item/ItemEndCrystal.java
  src/main/java/cn/nukkit/item/ItemPotion.java
  src/main/java/cn/nukkit/level/Explosion.java
  src/main/java/cn/nukkit/level/Sound.java
  src/main/java/cn/nukkit/level/particle/Particle.java
  src/main/java/cn/nukkit/network/LittleEndianByteBufInputStream.java
  src/main/java/cn/nukkit/network/LittleEndianByteBufOutputStream.java
  src/main/java/cn/nukkit/network/protocol/CraftingDataPacket.java
  src/main/java/cn/nukkit/network/protocol/CreativeContentPacket.java
  src/main/java/cn/nukkit/network/protocol/InventoryContentPacket.java
  src/main/java/cn/nukkit/network/protocol/InventorySlotPacket.java
  src/main/java/cn/nukkit/network/protocol/InventoryTransactionPacket.java
  src/main/java/cn/nukkit/network/protocol/ProtocolInfo.java
  src/main/java/cn/nukkit/network/protocol/UpdateTradePacket.java
  src/main/java/cn/nukkit/network/protocol/types/NetworkInventoryAction.java
  src/main/java/cn/nukkit/utils/BinaryStream.java
Labels: Resolution: resolved, Tag : Minecraft Version Update, Tag : RakNet, Tag: Upstream, Type: merge, size/M

#1058 Fixes many 1.4.0.0-PN issues
  src/main/java/cn/nukkit/Server.java
  src/main/java/cn/nukkit/entity/Entity.java
  src/main/java/cn/nukkit/entity/item/EntityArmorStand.java
  src/main/java/cn/nukkit/item/ItemDye.java
  src/main/java/cn/nukkit/metrics/Metrics.java
  src/main/java/cn/nukkit/metrics/NukkitMetrics.java
  src/main/java/cn/nukkit/utils/NukkitCollectors.java
Labels: Implementation: Entity, Implementation: Item, Status: In Progress, Type: bug, size/S

#988 Fix possible explosion NPE error
  src/main/java/cn/nukkit/level/Explosion.java
Labels: Type: bug, size/XS

#704 Fix entities width and height, and some fixes
  src/main/java/cn/nukkit/entity/mob/EntityBlaze.java
  src/main/java/cn/nukkit/entity/mob/EntityCreeper.java
  src/main/java/cn/nukkit/entity/mob/EntityDrowned.java
  src/main/java/cn/nukkit/entity/mob/EntityElderGuardian.java
  src/main/java/cn/nukkit/entity/mob/EntityEvoker.java
  src/main/java/cn/nukkit/entity/mob/EntityHoglin.java
  src/main/java/cn/nukkit/entity/mob/EntityHusk.java
  src/main/java/cn/nukkit/entity/mob/EntityPiglin.java
  src/main/java/cn/nukkit/entity/mob/EntityPiglinBrute.java
  src/main/java/cn/nukkit/entity/mob/EntityPillager.java
  src/main/java/cn/nukkit/entity/mob/EntitySkeleton.java
  src/main/java/cn/nukkit/entity/mob/EntitySnowGolem.java
  src/main/java/cn/nukkit/entity/mob/EntityStray.java
  src/main/java/cn/nukkit/entity/mob/EntityVindicator.java
  src/main/java/cn/nukkit/entity/mob/EntityWitch.java
  src/main/java/cn/nukkit/entity/mob/EntityWither.java
  src/main/java/cn/nukkit/entity/mob/EntityWitherSkeleton.java
  src/main/java/cn/nukkit/entity/mob/EntityZoglin.java
  src/main/java/cn/nukkit/entity/mob/EntityZombie.java
  src/main/java/cn/nukkit/entity/mob/EntityZombiePigman.java
  src/main/java/cn/nukkit/entity/mob/EntityZombieVillager.java
  src/main/java/cn/nukkit/entity/mob/EntityZombieVillagerV1.java
  src/main/java/cn/nukkit/entity/passive/EntityBee.java
  src/main/java/cn/nukkit/entity/passive/EntityChicken.java
  src/main/java/cn/nukkit/entity/passive/EntityCod.java
  src/main/java/cn/nukkit/entity/passive/EntityCow.java
  src/main/java/cn/nukkit/entity/passive/EntityDonkey.java
  src/main/java/cn/nukkit/entity/passive/EntityFox.java
  src/main/java/cn/nukkit/entity/passive/EntityHorse.java
  src/main/java/cn/nukkit/entity/passive/EntityMooshroom.java
  src/main/java/cn/nukkit/entity/passive/EntityMule.java
  src/main/java/cn/nukkit/entity/passive/EntityPanda.java
  src/main/java/cn/nukkit/entity/passive/EntityParrot.java
  src/main/java/cn/nukkit/entity/passive/EntityPufferfish.java
  src/main/java/cn/nukkit/entity/passive/EntityRabbit.java
  src/main/java/cn/nukkit/entity/passive/EntitySalmon.java
  src/main/java/cn/nukkit/entity/passive/EntitySquid.java
  src/main/java/cn/nukkit/entity/passive/EntityTropicalFish.java
  src/main/java/cn/nukkit/entity/passive/EntityTurtle.java
  src/main/java/cn/nukkit/entity/passive/EntityVillager.java
  src/main/java/cn/nukkit/entity/passive/EntityVillagerV1.java
  src/main/java/cn/nukkit/entity/passive/EntityWanderingTrader.java
  src/main/java/cn/nukkit/entity/passive/EntityWolf.java
Labels: Resolution: resolved, Type: bug, size/XXL

#957 Update EntityEventPacket EntityEventType
  src/main/java/cn/nukkit/network/protocol/EntityEventPacket.java
Labels: Status: Awaiting Merge, Type: Tool, size/XS

#1033 Add packet method that send immediately to fix player kick doesn't work properly
  src/main/java/cn/nukkit/Player.java
  src/main/java/cn/nukkit/network/RakNetInterface.java
Labels: Status: Awaiting Review, Tag : RakNet, Type: bug, size/S

#1064 #1061 Fix problem with grindstone, anvil and smithing table
  src/main/java/cn/nukkit/Player.java
  src/main/java/cn/nukkit/api/API.java
  src/main/java/cn/nukkit/entity/Entity.java
  src/main/java/cn/nukkit/inventory/GrindstoneInventory.java
  src/main/java/cn/nukkit/network/protocol/types/NetworkInventoryAction.java
Labels: Implementation: Block, Status: Awaiting Review, Tag: Crafting, Type: bug, size/S

#1065 Make some entity events cancellable
  src/main/java/cn/nukkit/entity/Entity.java
  src/main/java/cn/nukkit/event/entity/EntityDespawnEvent.java
  src/main/java/cn/nukkit/event/entity/EntitySpawnEvent.java
  src/main/java/cn/nukkit/event/entity/ItemSpawnEvent.java
Labels: Implementation: Entity, Status: Awaiting Review, Type: enhancement, size/S

#1066 Fixes wrong break time when breaking a bamboo with a sword
  src/main/java/cn/nukkit/block/Block.java
  src/main/java/cn/nukkit/block/BlockBamboo.java
Labels: Status: Awaiting Review, Type: bug, size/XS

#1051 Trading InventoryType
  src/main/java/cn/nukkit/inventory/InventoryType.java
Labels: Status: Awaiting Merge, Type: Tool, Type: enhancement, size/XS

#1067 Creates pterodactyl images to create an auto-updating egg
  Dockerfile
  pterodactyl-image-java11.Dockerfile
  pterodactyl-image-java8.Dockerfile
  release-script/release.py
  release-script/release_config.py
  release-script/release_config_local.py
Labels: Resolution: resolved, Type: Tool

#986 Fix inventory open when the player ride a boat or minecart
  src/main/java/cn/nukkit/Player.java
Labels: Implementation: Entity, Status: Awaiting Review, Type: bug, size/XS

#948 Add ItemComponentPacket
  src/main/java/cn/nukkit/Player.java
  src/main/java/cn/nukkit/network/Network.java
  src/main/java/cn/nukkit/network/protocol/ItemComponentPacket.java
Labels: Type: enhancement, size/S

#1073 Fixes #29 Incorrect behaviour when trying to sleep on waterlogged bed
  src/main/java/cn/nukkit/block/BlockBed.java
Labels: Implementation: Block, Resolution: resolved, Type: bug, size/XS

#1044 Fix target choose logic for EntityXPOrb
  src/main/java/cn/nukkit/entity/item/EntityXPOrb.java
Labels: Implementation: Entity, Implementation: Item, Status: Awaiting Review, Tag: Entity, Type: enhancement, size/XS

#1076 Fixes #1075 can't craft netherite axe and shovel. Fixes a cursor desync.
  src/main/java/cn/nukkit/Player.java
  src/main/java/cn/nukkit/block/BlockDoor.java
  src/main/java/cn/nukkit/block/BlockDoublePlant.java
  src/main/java/cn/nukkit/block/BlockTallGrass.java
  src/main/java/cn/nukkit/blockproperty/CommonBlockProperties.java
  src/main/java/cn/nukkit/blockproperty/value/DoublePlantType.java
  src/main/java/cn/nukkit/inventory/CraftingManager.java
  src/main/java/cn/nukkit/level/format/updater/DoorUpdater.java
Labels: Resolution: resolved, Tag: Crafting, Type: bug, size/XS

#1080 Frame getFacing returning null and allows placing on c…
  .gitattributes
  runtime_block_states.dat.dump.txt
  src/main/java/cn/nukkit/block/BlockItemFrame.java
  src/main/java/cn/nukkit/level/format/updater/ChunkUpdater.java
  src/main/java/cn/nukkit/level/format/updater/FrameUpdater.java
  src/main/resources/runtime_block_states_overrides.dat
  src/test/java/org/powernukkit/tools/OverridesUpdater.java
Labels: Implementation: Block, Type: bug, Type: enhancement, size/S

#1081 Fix Prismarine Crystals rendering incorrectly in item frames and ink_sac in recipes
  src/main/java/cn/nukkit/blockentity/BlockEntityItemFrame.java
  src/main/java/cn/nukkit/item/Item.java
  src/main/java/cn/nukkit/item/RuntimeItems.java
  src/main/java/cn/nukkit/utils/BinaryStream.java
  src/main/resources/runtime_item_ids.json
Labels: Implementation: Block, Tag : RakNet, Type: bug, size/S

#1082 Fix stone slabs missing in creative menu and git data missing in pterodactyl images
  pterodactyl-image-java11.Dockerfile
  pterodactyl-image-java8.Dockerfile
  src/main/java/cn/nukkit/item/MinecraftItemID.java
Labels: Implementation: Item, Resolution: resolved, Type: bug, size/XS

#1085 Fix Incorrect dye names and block colors. Improves color mixing
  src/main/java/cn/nukkit/block/BlockCauldron.java
  src/main/java/cn/nukkit/blockentity/BlockEntityCauldron.java
  src/main/java/cn/nukkit/item/ItemDye.java
  src/main/java/cn/nukkit/utils/DyeColor.java
Labels: Implementation: BlockEntity, Tag: Crafting, Tag: i11n, Type: bug, size/M

#1086 Fix #1084 Custom spawn eggs not working
  src/main/resources/runtime_item_ids.json
Labels: Implementation: Item, Tag : RakNet, Type: bug, size/XS

#1088 Fixes #494 food level not decreasing correctly and client desyncs
  src/main/java/cn/nukkit/Player.java
  src/main/java/cn/nukkit/PlayerFood.java
Labels: Implementation: Entity, Tag: Entity, Type: bug, size/S

#1093 Reduce the log level of a message when an entity could not be loaded
  src/main/java/cn/nukkit/entity/Entity.java
Labels: Implementation: Entity, Tag: Entity, Type: compatibility, size/XS

#1094 Fix Beacon speed wonky and health boost not being removed
  src/main/java/cn/nukkit/potion/Effect.java
Labels: Implementation: Entity, Resolution: resolved, Tag: Entity, Type: bug, size/S

#1097 Allow double plants to be placed on podzol & farmland
  src/main/java/cn/nukkit/block/BlockDoublePlant.java
Labels: Implementation: Block, Resolution: resolved, Type: merge, size/XS
